.barra-lateral {
	width: 25%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
}

#imagenleon {
	width: 100%;
	text-align: center;
}

ul.lista {
	padding: 0;
	text-align: center;
}

.lista li {
 	width: 240px;
    height: 50px;
	list-style: none;
	display: inline-block;
	line-height: 50px;
	margin: 5px;


    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border-radius: 5px;
    transition: all .3s ease-out;
}

.lista li:hover {
	background: #c7104dd1;
	width: 250px;
}